<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.im.mapper.FriendMapper">

    <select id="queryPageListByUserId" resultType="org.dromara.im.domain.vo.FriendVo">

    </select>
    <select id="selectUserFriendById" resultType="org.dromara.system.domain.vo.SysUserVo">
        select su.user_id,
               su.user_name,
               su.nick_name,
               su.user_type,
               su.email,
               su.phonenumber,
               su.sex,
               su.avatar,
               su.password,
               su.status,
               su.create_time,
               su.remark,
               su.login_date,
               imf.notes,
               imf.attach_msg
        from im_friend imf
                 inner join sys_user su on su.user_id = imf.friend_id
        ${ew.getCustomSqlSegment}
    </select>
    <select id="selectPageUserList" resultType="org.dromara.system.domain.vo.SysUserVo">
        select  su.user_id, su.user_name, su.nick_name, su.user_type, su.email, su.phonenumber, su.sex, su.avatar,
                su.status, su.create_time,su.remark
        from sys_user su
        ${ew.getCustomSqlSegment}
    </select>
    <select id="selectUnreadCount" resultType="java.util.Map">
        select sender_id, count(*) as unread
        from im_msg_record imr
        where to_id = #{userId}
          and unread = 0
        group by imr.sender_id
    </select>
</mapper>
