<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.im.mapper.GroupChatMapper">

    <insert id="insertAssociationUserJoiningGroupChat" >
        INSERT INTO `im_group_user_chat` (`user_id`, `group_id`)
        VALUES
        <foreach collection="userIds" item="userId" separator=",">
            (#{userId}, #{groupId})
        </foreach>
    </insert>
    <delete id="deleteAssociationByGroupIdAndUserId">
        DELETE FROM `im_group_user_chat`
        WHERE `user_id` = #{userId} AND `group_id` = #{groupId}
    </delete>
    <select id="selectAssociationByGroupIdAndUserId" resultType="org.dromara.im.domain.vo.GroupChatVo">
        select
        igc.id
        igc.group_leader_id
        igc.group_name
        igc.create_by
        igc.create_time
        igc.remark
        igc.create_dept
        igc.update_by
        igc.update_time
        igc.toped
        igc.recent_message
        os.url as avatar
        from im_group_chat igc
        left join  sys_oss so on so.oss_id = igc.avatar
        left join im_group_user_chat igu on igc.id = igu.group_id
        <where>
            <if test="userId != null">
                AND igu.user_id = #{userId}
            </if>
            <if test="groupName != null">
                AND igc.group_name LIKE CONCAT('%', #{groupName}, '%')
            </if>
        </where>
    </select>
    <select id="selectGroupCountByGroupId" resultType="java.lang.Integer">
        SELECT count(distinct user_id) as userCount
        FROM im_group_user_chat
        WHERE group_id = #{groupId};
    </select>

    <select id="selectGroupChatUsersByGroupId" resultType="java.lang.Long">
        select user_id from im_group_user_chat where group_id = #{id};
    </select>
</mapper>
